<%= turbo_frame_tag "modal" do %>
  <!-- Modal Inner Container -->
  <div class="max-h-screen w-full relative" data-controller="turbomodal" data-action="turbo:frame-load@window->modal#open turbo:submit-end@window->turbomodal#submitEnd turbomodal:close->modal#close">
    <!-- Modal Card -->
    <div class="bg-gray-50 rounded-lg shadow">
      <div class="p-12">
        <%= content %>
      </div>
    </div>
  </div>
<% end %>





