<%= form_with(model: document, class: "contents", data: { 'controller' => 'dropzone', 'dropzone-max-files-value' => 100 }) do |form| %>
  <div class="border-dashed border-2 border-blue-500 bg-blue-50 rounded flex flex-col justify-center items-center my-8 py-32">
    <%= heroicon "document-arrow-up", options: { class: 'h-12 text-blue-500 bg-blue-100 p-2 rounded-full', viewBox: "0 0 24 24" } %>
    <p class="text-gray-800 font-medium mt-3">Drag and drop your files here</p>
  </div>
<% end %>