<div class="w-full">
  <div class="pb-5 border-b border-gray-200 flex justify-between items-center">
    <h1 class="heading-1">Editing purchase invoice</h1>
  </div>

  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Issued on</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Supplier</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Reference</th>
                <th scope="col" class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">Amount</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <%= render @purchase_invoice %>          
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%= turbo_frame_tag 'purchase_invoice_body', src: purchase_invoice_lines_path(@purchase_invoice) %>

<%= link_to "Back to purchase invoices", purchase_invoices_path, class: "inline-block btn-primary" %>