<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing purchase invoice</h1>

  <%= render @purchase_invoice %>

  <%= link_to "Back to purchase invoices", purchase_invoices_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>

<%= turbo_frame_tag 'purchase_invoice_body', src: purchase_invoice_lines_path(@purchase_invoice) %>