<div class="columns-2">
  <div class="mx-auto w-full">
    <div class="pb-5 border-b border-gray-200 flex justify-between items-center">
      <h1 class="font-bold text-4xl">New purchase invoice</h1>
    </div>

    <%= render "form", purchase_invoice: @purchase_invoice %>
  </div>

  <% if @purchase_invoice.document_id %>
    <div class="mx-auto w-full">
      <%= content_tag :iframe, '', src: document_path(@purchase_invoice.document_id), width: '100%', height: '1000px' %>
    </div>
  <% end %>
</div>