<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="pb-5 border-b border-gray-200 flex justify-between items-center">
    <h1 class="font-bold text-4xl">Market Members</h1>
    <%= link_to 'New Market Member', new_market_member_path, class: "btn-primary" %>
  </div>

  <div id="market_members" class="min-w-full">
    <%= render @market_members %>
  </div>
</div>