@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .btn-primary {
    @apply rounded-lg py-2.5 px-3.5 bg-blue-600 text-white font-medium hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 disabled:cursor-not-allowed disabled:bg-blue-300;
  }

  .btn-white {
    @apply rounded-lg py-2.5 px-3.5 bg-white text-gray-900 shadow-sm font-medium ring-1 ring-inset ring-gray-300 hover:bg-gray-50
  }

  .link {
    @apply text-blue-700 hover:text-blue-800 hover:underline;
  }

  .heading-1 {
    @apply font-bold text-4xl text-gray-900;
  }

  .label {
    @apply block font-medium leading-6 text-gray-900;
  }

  .input {
    @apply block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full;
  }

  .input-large {
    @apply block shadow rounded-md border border-gray-200 outline-none px-3 py-4 mt-2 w-full;
  }

  ul li.list-group-item.active {
    @apply bg-blue-600 text-white;
  }
}

.account-table {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 8fr 1fr;
  column-gap: 2rem;
  align-items: bottom;
  padding: 0.5rem 1rem;
  border: 1px solid #e5e7eb;
  border-bottom: none;
  border-collapse: collapse;
}

.ledger-entries-table {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr 0.5fr 0.5fr;
  column-gap: 2rem;
  align-items: bottom;
  padding: 1rem;
  border: 1px solid #e5e7eb;
  border-bottom: none;
  border-collapse: collapse;
}

.account-line:last-child, .ledger-entry-line:last-child {
  border-bottom: 1px solid #e5e7eb;
}

/* turbo-frame:last-child .account-table {
  border-bottom: 1px solid #e5e7eb;
} */

/* turbo-frame:nth-child(even) .table {
  background: #fafafa;
} */
