<%= turbo_frame_tag "purchase_invoice_body" do %>
  <%= turbo_frame_tag "errors" %>
  <div class="bg-white shadow overflow-hidden sm:rounded-md">
    <ul role="list" id="purchase_invoice_lines" class="divide-y divide-gray-200">
      <li>
        <div class="grid grid-cols-6 divide-x">
          <p class="text-sm font-medium text-grey-900 truncate">Account</p>
          <p class="text-sm font-medium text-grey-900 truncate">Amount</p>
          <p class="text-sm font-medium text-grey-900 truncate">Tax Rate</p>
          <p class="text-sm font-medium text-grey-900 truncate">Tax Account</p>
          <p class="text-sm font-medium text-grey-900 truncate">After Tax</p>
        </div>
      </li>
      <%= render(PurchaseInvoiceLineComponent.with_collection(@lines, editable: true)) %>
      <%= render(PurchaseInvoiceLineComponent.new(line: PurchaseInvoiceLine.new, editable: true)) %>
    </ul>
  </div>
<% end %>
