<%= turbo_frame_tag "purchase_invoice_body" do %>
  <%= turbo_frame_tag "errors" %>
  <div class="bg-white shadow overflow-hidden sm:rounded-md my-8">
    <div id="purchase_invoice_lines">
      <div class="purchase-invoice-line-table min-w-full bg-gray-50 text-sm font-semibold">
        <div>Account</div>
        <div>Amount</div>
        <div>Tax Rate</div>
        <div>Tax Account</div>
        <div class="flex justify-end items-center">After Tax</div>
        <div></div>
      </div>
      <%= render(PurchaseInvoiceLineComponent.with_collection(@lines, editable: true)) %>
      <%= render(PurchaseInvoiceLineComponent.new(line: PurchaseInvoiceLine.new, editable: true)) %>
    </div>
  </div>
<% end %>
