<%= form_with model: account, id: dom_id(account, "form"), class: "min-w-full flex" do |form| %>
  <div>
    <%= form.text_field :label, autofocus: true, class: "text-sm block shadow rounded-md border border-gray-200 outline-none px-3 py-1.5 w-full" %>
    <%= inline_error_for(:label, account) %>
  </div>
  <div class="inline">
    <%= form.submit class: "btn-primary py-2 ml-2" %>
  </div>
<% end %>