<%= turbo_stream.replace @target do %>
  <div id=<%= @target %>>
    <%= text_field_tag "#{@model}[#{@target}_input]", "#{@account.number} #{@account.label}", class: "input", data: { 'autocomplete-target' => 'input' } %>
    <%= hidden_field_tag "#{@model}[#{@target}_number]", @account.number, data: { 'autocomplete-target' => 'hidden' } %>
  </div>
<% end %>